{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}




{% block content%}


<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">


      {%if comments %}
      <h1 class="text-center">Comments for this post </h1>
      {% for post_c in comments%}
        

      <div class="col-md-3">

       
      <div class="text-center" style="box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19); font-size: large; margin-left: 20px; max-width: 30rem; ">
      <div class="card-header">
        <br>
        <h5> <a href="{{url_for('main.single_post',id=post_c.blog.id)}}"> Blog title : {{post_c.blog.blog_title}}</a> </h5>
      </div>
      <hr>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{post_c.comment}}</p>
          <hr>
          <footer class="blockquote-footer">Posted by  {{post_c.user.username}}
           <hr>
            <p><a class="btn btn-danger" href="{{url_for('main.delete_comment',blog_id=post_c.blog.id,user_id=post_c.blog.user.id)}}" role="button"> Delete</a></p>
          </footer>
        </blockquote>
      </div>
    </div>

  </div>

    {%endfor%}
    {%else%} 

    <h1>Comments for this Blog are not available yet</h1>
   
    {%endif%}




    </div>
    <div class="col-md-3">

      {{wtf.quick_form(form)}}

    </div>
  </div>
  <div class="row">


    {% with messages = get_flashed_messages()%}
        {%  if messages %}
            {% for message in messages%}
               <h3>{{message}}</h3>
            {%endfor%}   
        {%endif%}
    {% endwith %}        
  </div>

</div>


{%endblock%}